.Contact-section{
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(1, 20, 13);
    position: relative;
}
.textHead{
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    padding-left: 22px;
    padding-top: 10px;
}
.text2{
    text-decoration: none;
    padding-left: 22px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    cursor: pointer;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.Flexbox{
    width: 100%;
    display:flex;
    flex-direction: row;
    position:relative;
    box-sizing: border-box;
    justify-content: flex-end;
}
.inner-flex-items{
    width: 100px;
    box-sizing: border-box;
}
.Link-style>a{

    text-decoration: none;
    color: #635d5d;
    font-size: 18px;
    font-weight: 600;
}
.Link-style{
    padding: 20px;
}
.footerLogo{
    padding-left: 20px;
    color: #635d5d;
}
.footerLogo>h4{
    font-size: 20px;
}
.footerLogo>a{
    text-decoration: none;
    color: #635d5d;
    font-size: 20px;
    font-weight: 700;
}
.Maillogo{
    transform: translateY(10px);
}
footer{
    text-align: center;
    color: #635d5d;
    font-weight: 700;
}
footer>p{
    padding-bottom: 10px;
}
